@using Blog.AdminPanel.ViewModel
@using System.Text.RegularExpressions
@model List<ArticleViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="row">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th scope="col">Article Text</th>
                        <th scope="col">Header</th>
                        <th scope="col">Sub Header</th>
                        <th scope="col">Category Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center;">
                                <div class="modal fade" id="popUp-@item.ArticleId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Article Text</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.Raw(@item.Text)
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="openModal" class="btn" data-toggle="modal" data-target="#popUp-@item.ArticleId">
                                    <i class="fas fa-search"></i>
                                </button>
                            </td>
                            <td>@item.Header</td>
                            <td>@item.SubHeader</td>
                            <td>@item.CategoryId</td>
                            <td class="update_delete">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning" style="background-color: #393E46; color: white;">Update</button>
                                    <button type="button" class="btn btn-danger" onclick="DeleteArticle(@item.ArticleId)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>








</body>
</html>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    function DeleteArticle(articleId) {


        Swal.fire({
            title: 'Do you want to delete this article?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
        }).then((result) => {
            if (result.isConfirmed) {
                var deleteNotification;
                var icon;
                $.ajax({
                    url: "/Article/DeleteArticle",
                    data: { id: articleId },
                    method: 'POST',
                    success: function(data) {
                        debugger;
                        if (data.result.result == true) {
                            deleteNotification = 'Deleted'
                            icon = 'success'
                        } else {
                            icon = 'error'
                            deleteNotification = 'Unexpected error occurred.'
                        }
                        Swal.fire(deleteNotification, '', icon);
                    }
                });
            }
        })



    }
    $(document).ready(function() {
        $('#table').DataTable();
    });
</script>